<!DOCTYPE html>
<html>
<head>
    <title>Acertou as 10, Verdadeiro Campeao!</title>
    <script type="text/javascript">
        a = 0
        b = setInterval(function(){
            a += 1
            if(a == 3){
                clearInterval(b)
                a = 0
                window.location = "menu"
            }
        }, 2000)
    </script>
</head>
<body align="center">
    <h1>Acertou as 10, Verdadeiro Campeao!</h1>
    <img src="/imagens/ser_milionario1.jpg" width="100%">
</body>
</html>