<!DOCTYPE html>
<html>
<head>
    <title>Adicionar Pergunta no banco</title>
    <script type="text/javascript">
        function deletar(){
            window.location = "controle_deletar_pergunta"
        }
    </script>
</head>
<body>
    <form id="campo" action="adiciona_pergunta" method="POST">
    <h1>Adicionar Pergunta no banco</h1>
    Pergunta:
    <input type="text" id="pergunta" name="pergunta" value=""><br>
    Resposta Correta:
    <input type="text" id="resp_correta" name="resp_correta" value=""><br>
    Resposta Incorreta 1:
    <input type="text" id="resp_incorreta_1" name="resp_incorreta_1" value=""><br>
    Resposta Incorreta 2:
    <input type="text" id="resp_incorreta_2" name="resp_incorreta_2" value=""><br>
    Resposta Incorreta 3:
    <input type="text" id="resp_incorreta_3" name="resp_incorreta_3" value=""><br>
    Dificuldade:
    <input type="text" name="dificuldade" value="">
    <input type="submit" name="adicona" value="Adicionar Pergunta">
    </form>
    <br>
    <input type="button" name="remover" value="Deletar alguma Pergunta" onclick="deletar()">
</body>
</html>
