<!DOCTYPE html>
<html>
<head>
    <title>Voce Ganhou meu Parceiro!</title>
    <script type="text/javascript">
        a = 0
        b = setInterval(function(){
            a += 1
            if(a == 3){
                clearInterval(b)
                a = 0
                window.location = "menu"
            }
        }, 2000)
    </script>
</head>
<body align="center">
    <h1>Parabens Lindo(a)! Vc Ganhou! Top!</h1>
    <img src="/imagens/chuck_norris_joinha.jpg">
</body>
</html>