<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <title>Sala de Espera</title>
    <style type="text/css">
        div.bloco{
            padding: 25px;
            width:400px;
            height:400px;
            border-radius: 10px;
            border-width: 2px;
            border-color:#000000;
            border-style: solid;
            /*align-content: top;*/
            background-color:#e5ffff;
        }
    </style>
</head>
<body align="center">
    <div align="center" class="bloco" height="300" width="300">
    <form id="chat">
    {{#with dados}}
    <input type="hidden" id="meu_id" value="{{id_usuario}}">
    {{/with}}
    <button id="conecta" height="300" width="300" border="solid" type="submit">Click para iniciar Busca</button>
    <br>
    <br>
    <img id="carregando" height="170" width="150px" src="imagens/carregando.gif" style="display: none;">
    <button id="cancelar" height="300" width="300" border="solid" onclick="cancelar_menu()">Cancelar</button>
    </form>
    </div>
    <script type="text/javascript">
        var socket = io('https://showdovitao.herokuapp.com/')
        var estou_aqui = {agora: 'true'}
        socket.on('todos_conectados', function(){
            var messageObject = {
                envia: "ok"
            }
            socket.emit('vem_vc_tambem', messageObject)
            console.log('Ok vou para a proxima pagina')
            window.location = "inicio_show_multi"
        })
        socket.on('eba_eu_vou', function(){
            window.location = "inicio_show_multi"
        })
        $('#chat').submit(function(event){
            window.document.getElementById('conecta').disabled = true
            window.document.getElementById("carregando").style = 'display: block;'
            event.preventDefault()
            // var author = $('input[name=username]').val()
            // var mensagem = $('input[name=mensagem]').val()
            id_usuario = window.document.getElementById('meu_id').value
            var messageObject = {
                id_usuario: id_usuario
            }
            // renderMessage(messageObject)

            socket.emit('Estou_aqui', messageObject)
        })
        function cancelar_menu(){
            window.location = "menu"
        }
    </script>
</body>
</html>
